<div class="prompt font-pop">
    <div class="prompt-dialog">
        <div class="prompt-dialog-base-shadow"></div>
        <div class="prompt-dialog-base"></div>
        <div class="prompt-dialog-inner">
            <div class="prompt-question"><%=prompt.question%></div>
            <div class="prompt-answers-container">
                <div class="prompt-yes prompt-answer" data-val=""><%=prompt.yes%></div>
                <div class="prompt-no prompt-answer" data-val="1"><%=prompt.no%></div>
            </div>
            <div class="prompt-question-no-mobile"><%=prompt.noMobile%></div>
        </div>
    </div>
</div>
